/.gitattributes   export-ignore
/.github          export-ignore
/.gitignore       export-ignore
/.php_cs          export-ignore
/CONTRIBUTING.md  export-ignore
/Makefile         export-ignore
/README.md        export-ignore
/UPGRADE.md       export-ignore
/phpunit.xml.dist export-ignore
/runTests.sh      export-ignore
/docker           export-ignore
/docs             export-ignore
/tests            export-ignore
