/.git*            export-ignore
/.php-cs-fixer*   export-ignore
/CONTRIBUTING.md  export-ignore
/Makefile         export-ignore
/phpstan*.neon    export-ignore
/README.md        export-ignore
/UPGRADE.md       export-ignore
/phpunit.xml.dist export-ignore
/docker           export-ignore
/docs             export-ignore
/tests            export-ignore
