parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Doctrine\\\\Persistence\\\\ObjectManager\\:\\:getUnitOfWork\\(\\)\\.$#"
			count: 1
			path: src/Adapter/PHPCR/PHPCRAdapter.php

		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeDefinition\\:\\:children\\(\\)\\.$#"
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeParentInterface\\:\\:scalarNode\\(\\)\\.$#"
			count: 2
			path: src/DependencyInjection/Configuration.php

		-
			message: "#^Parameter \\#1 \\$node of method Vich\\\\UploaderBundle\\\\DependencyInjection\\\\Configuration\\:\\:addGeneralSection\\(\\) expects Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\ArrayNodeDefinition, Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeDefinition given\\.$#"
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: "#^Parameter \\#1 \\$node of method Vich\\\\UploaderBundle\\\\DependencyInjection\\\\Configuration\\:\\:addMappingsSection\\(\\) expects Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\ArrayNodeDefinition, Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeDefinition given\\.$#"
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: "#^Parameter \\#1 \\$node of method Vich\\\\UploaderBundle\\\\DependencyInjection\\\\Configuration\\:\\:addMetadataSection\\(\\) expects Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\ArrayNodeDefinition, Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeDefinition given\\.$#"
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: "#^Call to an undefined method Gaufrette\\\\FilesystemInterface\\:\\:getAdapter\\(\\)\\.$#"
			count: 2
			path: src/Storage/GaufretteStorage.php

		-
			message: "#^Return type of call to method PHPUnit\\\\Framework\\\\TestCase\\:\\:createMock\\(\\) contains unresolvable type\\.$#"
			count: 1
			path: tests/Adapter/ODM/MongoDB/MongoDBAdapterTest.php

		-
			message: "#^PHPDoc tag @return contains unresolvable type\\.$#"
			count: 2
			path: tests/EventListener/Doctrine/ListenerTestCase.php

		-
			message: "#^Return type of call to method PHPUnit\\\\Framework\\\\MockObject\\\\MockBuilder\\<Vich\\\\UploaderBundle\\\\Handler\\\\UploadHandler\\>\\:\\:getMock\\(\\) contains unresolvable type\\.$#"
			count: 1
			path: tests/EventListener/Doctrine/ListenerTestCase.php

		-
			message: "#^Return type of call to method PHPUnit\\\\Framework\\\\MockObject\\\\MockBuilder\\<Vich\\\\UploaderBundle\\\\Metadata\\\\MetadataReader\\>\\:\\:getMock\\(\\) contains unresolvable type\\.$#"
			count: 1
			path: tests/EventListener/Doctrine/ListenerTestCase.php

		-
			message: "#^Return type of call to method PHPUnit\\\\Framework\\\\TestCase\\:\\:createMock\\(\\) contains unresolvable type\\.$#"
			count: 1
			path: tests/Functional/WebTestCase.php

		-
			message: "#^Return type of call to method PHPUnit\\\\Framework\\\\TestCase\\:\\:createMock\\(\\) contains unresolvable type\\.$#"
			count: 1
			path: tests/Injector/FileInjectorTest.php

		-
			message: "#^Trying to mock an undefined method findOneBySlug\\(\\) on class Doctrine\\\\ORM\\\\EntityRepository\\.$#"
			count: 1
			path: tests/Naming/SlugNamerTest.php

		-
			message: "#^Trying to mock an undefined method getFilesystem\\(\\) on class League\\\\Flysystem\\\\MountManager\\.$#"
			count: 1
			path: tests/Storage/Flysystem/MountManagerFlysystemStorageTest.php

		-
			message: "#^Return type of call to method PHPUnit\\\\Framework\\\\TestCase\\:\\:createMock\\(\\) contains unresolvable type\\.$#"
			count: 4
			path: tests/TestCase.php

